table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
th, td {
    border: 2px solid #aaa;
    padding: 8px;
    text-align: center;
}

input[type="text"] {
    padding: 6px;
    border-radius: 4px;
    border: 2px solid #ccc;
    height: 14px;
    margin: 0;
    width: 14vw;
}

#date-segment{
    text-align: left;
    width: 248px;
    font-size: 20px;
    margin: 0;
    margin-left: 1%;
}

#date-segment, .selector, .button{
    margin-right: 3%;
}

.calendar {
    font-size: 25px;
    text-align: center;
    padding-right: 40px;
}

#date-picker{
    width:0;
    padding: 0;
    border: none;
    margin-left: -40px;
}


.button button{
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 30px;
    background-color: #337ab7;
    color: white;
    border: none; 
    border-radius: 5px;
    text-align: center; 
    text-decoration: none;
}

.button button:hover {
    background-color: #0056b3;
}

.selector select {
    padding: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.selector select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 3px #337ab7;
}

#title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-container{
  display: flex;
  align-items: center;
  white-space: nowrap;
}

#search{
    display: flex;
}

#search-box {
    border-radius: 4px;
    color: white;
    background-color: #337ab7;
    margin: 0;
    margin-right: 6px;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data-row td:first-child {
    width: 5%;
}
.data-row td:last-child {
    width: 10%;
}

tr td:nth-child(2), th:nth-child(2){
    padding-left: max(1%, 10px);
    text-align: left;
}

.data-row:hover {
    background-color: #f0f0f0;
    font-weight: bold;
}
@media(max-width: 850px){
    #left-container{
        flex-direction: column;
        align-items: flex-start;
    }

    div{
        margin-bottom: 5px;
    }
}

.teachers{
    margin-right: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 2px 6px;
    background-color: #f0f0f0;
    cursor: pointer;
}