body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

/* Add styles for the top bar */
.navbar {
    padding-left: clamp(0px, 5%, 100px);
    position: relative;
    background-color: #222222;
    color: #9d9d9d;
    min-height: 55px;
    margin-bottom: clamp(20px, 4%, 50px);
    display: flex;
    align-items: center;
}

.brand-title {
    font-size: 22px;
    padding: 0.9rem 0.8rem;
    color: #9d9d9d;
    text-decoration: none;
}
.brand-title:hover{
    color: white;
}

.navbar-links{
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar-links a{
    text-decoration: none;
    color: #9d9d9d;
    display: block;
    padding:1rem;
}

.navbar-links a:hover{
    color: white;
}
.navbar-links a:hover .caret{
    border-top: 4px solid white;
}

#selected{
    background-color: black;
    color: white;
}

button {
  user-select: none;
}

.content{
    position:absolute;
    top: 100%;
    display: none;
    background-color: #222222;
    color: #9d9d9d;
}

#info-content a{
    padding: 0.5rem;
    font-size: 15px;
}

#info-content a:hover{
    color: white;
}

.user{
    position: absolute;
    right: clamp(0px, 5%, 150px);
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.user a{
    text-decoration: none;
    color: #9d9d9d;
    display: block;
    padding: 1rem;
}

.user a:hover{
    color: white;
}
.user a:hover .caret{
    border-top: 4px solid white;
}


#user-content a{
    padding: 0.5rem;
    font-size: 15px;
}

#user-content a:hover{
    color: white;
}

.caret{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 2px;
    border-top: 4px solid #9d9d9d;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.fa-user-alt{    
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    padding-right: clamp(0px, 5%, 150px);
}

.toggle-button:hover  .bar{
    background-color: white;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #9d9d9d;
    border-radius: 10px;
}
.error{
    color: #d93025;
    font-size: 16px;
    margin-top: 1%;
    margin-bottom: 0px;
}

@media(max-width: 1000px){
    .toggle-button{
        display: flex;
    }

    .navbar, .navbar-links{
        flex-direction: column;
        align-items: flex-start;
    }

    #selected{
        margin-left: -100px;
        padding-left: calc(100px + 1rem);
        width: 1000px;
    }

    #info-content{
        z-index: 1;
        top: auto;
    }

    .content #selected {
        margin-left: 0px;
        padding-left: auto;
        width: auto;
    }

    .user{
        position: relative;
        right: 0;
    }

    .navbar-links, .user{
        display: none;
    }

    .navbar-links a, .user a{
        padding: .5rem 1rem;
    }
    
    .navbar-links.active,.user.active{
        display:flex;
    }
}
