.container{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.worker-container{
    width: calc(clamp(200px, 60%, 500px) + 80px);
    margin: 0 auto;
    flex-direction: column;
}

.box{
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 4%;
}

#password-field{
    margin-right: 4%;
}

#delete-button {
    background-color: #d93025;
}

#delete-button:hover{
    background-color: red;
}

.name{
    font-size: 25px;
    font-weight: bold;
}

button {
    padding: 5px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

input{
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}