.login-container {
    width: clamp(200px, 60%, 500px);
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container a{
    text-decoration: none;
    font-size: 13px;
    padding-right: 13px;
}

.login-container {
    text-align: right;
}

.remember-me {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.remember-me label {
    margin: 0;
    margin-left: 5px;
    color: 	#63666A;
}

.remember-me input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

h2 {
    text-align: center;
    color: #333;
}

label{
    display: block; 
    margin-left: 5px;
    margin-bottom: 4px;
    text-align: left;
}

input[type="number"],
input[type="password"] {
    width: calc(100% - 12px);;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 14px;
}

input[type="number"]{
    margin-bottom: 30px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #337ab7;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}




