body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

/* Add styles for the top bar */
.navbar {
    padding-left: clamp(0px, 5%, 100px);
    position: relative;
    background-color: #222222;
    color: #9d9d9d;
    min-height: 55px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.brand-title {
    font-size: 22px;
    padding: 0.9rem 0.8rem;
    color: #9d9d9d;
    text-decoration: none;
}
.brand-title:hover{
    color: white;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: #9d9d9d;
    display: block;
    padding:1rem;
}

.navbar-links a:hover{
    color: white;
}

.user{
    margin-left: auto;
    margin-right: clamp(0px, 5%, 150px);
}

.user ul{
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.user li{
    list-style: none;
}
.user li a{
    text-decoration: none;
    color: #9d9d9d;
    display: block;
    padding: 1rem;
}
.user a:hover{
    color: white;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    padding-right: clamp(0px, 5%, 150px);
}

.toggle-button:hover  .bar{
    background-color: white;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #9d9d9d;
    border-radius: 10px;
}

p{
    font-size: 50px;
}
@media(max-width: 1000px){
    .toggle-button{
        display: flex;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links, .user{
        display: none;
        margin: 0;
    }

    .navbar-links ul,.user ul{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links li a,.user li a{
        padding: .5rem 1rem;
    }
    
    .navbar-links.active,.user.active{
        display:flex;
    }
}



