body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.login-container {
    width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label{
    display: block; 
    margin-left: 5px;
    margin-bottom: 4px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 12px);;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 14px;
}

input[type="text"]{
    margin-bottom: 30px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Add styles for the top bar */
.navbar {
    padding-left: 100px;
    position: relative;
    background-color: #222222;
    color: #9d9d9d;
    min-height: 55px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.brand-title {
    font-size: 22px;
    padding: 0.9rem 0.8rem;
    color: #9d9d9d;
    text-decoration: none;
}
.brand-title:hover{
    color: white;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: #9d9d9d;
    display: block;
    padding:1rem;
}

.navbar-links a:hover{
    color: white;
}

.user{
    margin-left: auto;
    margin-right: 150px;
}

.user ul{
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.user li{
    list-style: none;
}
.user li a{
    text-decoration: none;
    color: #9d9d9d;
    display: block;
    padding: 1rem;
}
.user a:hover{
    color: white;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #9d9d9d;
    border-radius: 10px;
}

@media(max-width: 1000px){
    .toggle-button{
        display: flex;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links,.user{
        display: none;
        margin: 0;
    }

    .navbar-links ul,.user ul{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links li a,.user li a{
        padding: .5rem 1rem;
    }
    
    .navbar-links.active,.user.active{
        display:flex;
    }
}



@media (max-width: 1600px) {
    .navbar {
        padding-left: 80px; /* Decrease left margin for smaller screens */
    }
    .user{
        margin-right: 110px;
    }
}


@media (max-width: 1400px) {
    .navbar {
        padding-left: 50px; /* Decrease left margin for smaller screens */
    }
    .user{
        margin-right: 90px;
    }
}


@media (max-width: 1200px) {
    .navbar {
        padding-left: 20px; /* Decrease left margin for smaller screens */
    }
    .user{
        margin-right: 50px;
    }
}

@media (max-width: 1000px) {
    .navbar {
        padding-left: 0px; /* Decrease left margin for smaller screens */
    }
    .user{
        margin-right: 0px;
    }
}
