body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

/* Add styles for the top bar */
.navbar {
    padding-left: clamp(0px, 5%, 100px);
    position: relative;
    background-color: #222222;
    color: #9d9d9d;
    min-height: 55px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.brand-title {
    font-size: 22px;
    padding: 0.9rem 0.8rem;
    color: #9d9d9d;
    text-decoration: none;
}
.brand-title:hover{
    color: white;
}

.navbar-links{
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar-links a{
    text-decoration: none;
    color: #9d9d9d;
    display: block;
    padding:1rem;
}

.navbar-links a:hover{
    color: white;
}
.navbar-links a:hover .caret{
    border-top: 4px solid white;
}

.user{
    position: absolute;
    right: clamp(0px, 5%, 150px);
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.user a{
    text-decoration: none;
    color: #9d9d9d;
    display: block;
    padding: 1rem;
}

.user a:hover{
    color: white;
}
.user a:hover .caret{
    border-top: 4px solid white;
}

.caret{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 2px;
    border-top: 4px solid #9d9d9d;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    padding-right: clamp(0px, 5%, 150px);
}

.toggle-button:hover  .bar{
    background-color: white;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #9d9d9d;
    border-radius: 10px;
}

.login-container {
    width: clamp(200px, 60%, 500px);
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container a{
    text-decoration: none;
    font-size: 13px;
    padding-right: 13px;
}

.login-container {
    text-align: right;
}

.remember-me {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.remember-me label {
    margin: 0;
    margin-left: 5px;
    color: 	#63666A;
}

.remember-me input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

h2 {
    text-align: center;
    color: #333;
}

label{
    display: block; 
    margin-left: 5px;
    margin-bottom: 4px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 12px);;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 14px;
}

input[type="text"]{
    margin-bottom: 30px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #337ab7;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



@media(max-width: 1000px){
    .toggle-button{
        display: flex;
    }

    .navbar, .navbar-links{
        flex-direction: column;
        align-items: flex-start;
    }

    .user{
        position: relative;
        right: 0;
    }

    .navbar-links, .user{
        display: none;
    }

    .navbar-links a, .user a{
        padding: .5rem 1rem;
    }
    
    .navbar-links.active,.user.active{
        display:flex;
    }
}



